<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="TestCs" connectionString="Data Source=DESKTOP-0N1CD9E\SQLEXPRESS01; Initial Catalog=TestForStudents; Persist Security Info=True; User ID=admin; Password=1234; MultipleActiveResultSets=True"
             providerName="System.Data.SqlClient"/>
    <add name ="email" connectionString="pandadeveloper@yandex.ru"/>
    <add name ="passwordEmail" connectionString="reklama23"/>
  </connectionStrings>
</configuration>